<h1> Hello this is all tasks </h1>

<table>
  <thead>
    <tr>
      <td>任務</td>
      <td>任務內容</td>
      <td>任務狀態</td>
      <td>優先順係</td>
      <td>完成時間</td>
      <td>編輯</td>
      <td>刪除</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task_path(task) %></td>
      <td><%= task.content %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= task.finish_time %></td>
      <td><%= link_to "編輯", edit_task_path(id: task.id) %></td>
      <td><%= link_to "刪除", task_path(id: task.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "NEW Task", new_task_path %>