<% content_for :title do %>
  後台管理
<% end %>
<%= render "partials/header" %>
<table>
  <thead>
    <tr>
      <td>名字</td>
      <td>權限</td>
      <td>文章數</td>
      <td>編輯</td>
      <td>刪除</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, admin_user_path(user) %></td>
      <td><%= user.role %></td>
      <td><%= user.tasks.size %></td>
      <td><%= link_to "編輯", edit_admin_user_path(id: user.id) %></td>
      <td><%= link_to "刪除", admin_user_path(id: user.id), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "新增使用者", new_admin_user_path %>