<h1> This is new user page </h1>
<%= current_user.name if current_user %>
<%= form_for(@user, url: "/admin/users" )do |user| %>

  <%= user.label :name %>
  <%= user.text_field :name %>

  <%= user.label :role %>
  <%= user.text_field :role %>

  <%= user.label :password %>
  <%= user.text_field :password %>

  <%= user.label :password_confirmation %>
  <%= user.text_field :password_confirmation %>

  <%= user.submit %>
<% end %>