<% content_for :title do %>
  <%= @user.name %>管理
<% end %>
<%= render "partials/header" %>

<div class="container">
  <div class="back_btn_block">
    <%= link_to "返回", admin_root_path, class: "btn btn-primary" %>
  </div>

  <h3> <%= @user.name%> - <%= @user.role %> </h3>
  <p>
    總共: <%= @user.tasks.count %> 個工作項目
  </p>

  <div class="user_tasks_block">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th style="width: 15%" scope="col">任務</th>
          <th style="width: 25%" scope="col">任務內容</th>
          <th style="width: 10%" scope="col">任務狀態</th>
          <th style="width: 15%" scope="col">優先順續</th>
          <th style="width: 20%" scope="col">完成時間</th>
          <th style="width: 8%" scope="col">編輯</th>
          <th style="width: 8%" scope="col">刪除</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
        <tr>
          <th scope="row"><%= task.title %></th>
          <td><%= task.content %></td>
          <td><%= task.status %></td>
          <td><%= task.priority %></td>
          <td><%= task.finish_time.strftime("%Y-%m-%d") %></td>
          <td><%= link_to "編輯", edit_task_path(id: task.id) %></td>
          <td><%= link_to "刪除", task_path(id: task.id), method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="page_number_block">
      <%= paginate @tasks %>
    </div>
  </div>

  
</div>